<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>332427944364-9nvrr0n7ssft0ce8trnq7ses4n9iock5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332427944364-9nvrr0n7ssft0ce8trnq7ses4n9iock5</string>
	<key>API_KEY</key>
	<string>AIzaSyCHzLR9gV58-8ZbPpoVKe8n8nS7507eUbo</string>
	<key>GCM_SENDER_ID</key>
	<string>332427944364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Habitapp.ios</string>
	<key>PROJECT_ID</key>
	<string>habitapp-88060</string>
	<key>STORAGE_BUCKET</key>
	<string>habitapp-88060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332427944364:ios:a3a9745feccb524b</string>
	<key>DATABASE_URL</key>
	<string>https://habitapp-88060.firebaseio.com</string>
</dict>
</plist>